body {
  text-align: center;
  background-color: #2E5090;
    font-family: 'Truculenta', cursive;
}
h1 {
  text-shadow: 2px 2px #F8BBD0;
    font-family: 'Truculenta', cursive;
}
h2 {
  text-shadow: 2px 2px #F8BBD0;
    font-family: 'Truculenta', cursive;
}
p {
  padding: 20px;
  font-size: 18;
  text-align: center;
    font-family: 'Truculenta', cursive;
}
img {
  border-radius: 50%;
    width: 50%;
}
.menu {
    list-style: none;
    font-family: 'Truculenta', cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}
html {
    scroll-behavior: smooth;
}
